<?xml version="1.0" ?>
<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find g2_control)/config/g2_control.yaml" command="load"/> 

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/g2" args="joint_state_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/g2/joint_states" />
  </node>
  
  <node name="g2_control" pkg="g2_control" type="g2_control_node" >
    <!--<remap from="/g2_command" to="/g2/g2_position_controller/command" /> -->
    <param name="spin_freq" type="double" value="1"/>
  </node>

</launch>
